/*----- Distros Section -----*/

#distros {
    color: #555;
    background-color: #F5F0E7;
    text-shadow:0px 1px rgba(255,255,255,0.2);
}

section.distro-section {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

#distro-list {
    width: 100%;
    display: inline-block;
}

.distro {
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 0.5em;
    background-color: rgba(255,255,255,0.95);
    padding-top: 1em;
    height:32em;
    width:16em;
    margin:1.25em;
    float: left;
    color: #555;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    vertical-align: middle;
}

.distro:focus,
.distro:hover {
    color: #555;
    background-color: rgba(255,255,255,1.0);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    transition:100ms;
    -webkit-transition:100ms;
}

.distro:active {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    transition:100ms;
    -webkit-transition:100ms;
}


.distro-text a {
    margin: 0;
}
.distro-text {
    line-height: 1.4em;
    margin-left:1.25em;
    margin-right:1.25em;
    text-align: left;
    text-shadow:0px 1px rgba(255,255,255,0.4);
}

.logo {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 8em;
}


.name {
    font-family:"Ostrich Sans", "Oswald", "Helvetica", "Arial" , sans-serif;
    font-size: 2.3em;
    display: block;
    text-align: center;
}


/*--------MEDIA QUERIES--------*/

@media only screen and (max-width :1880px) {

    section.distro-section {
        width: 1200px;
    }
      
    .distro {
        margin: 0.75em;
        width:17em;
        height: 30em;
    }
}

@media only screen and (max-width :1280px) {

    section.distro-section {
        width: 1000px;
    }
      
    .distro {
        margin: 0.75em;
        width:300px;
        height: 30em;
    }

}

@media only screen and (max-width :1100px) {
    .distro {
        margin: 0.75em;
        width:30%;
        height: 30em;
    }

    section.distro-section {
        width: 100%;
    }
}

@media only screen and (max-width :900px) {
  
    .distro {
        margin: 1em;
        width:45%;
        height: 30em;
    }

}

@media  only screen and (orientation:portrait), only screen and (max-device-width :720px), only screen and (max-device-width :1080px) {

    section.distro-section {
        width: 100%;
    }

}

@media only screen and (max-width : 480px), only screen and (max-width : 768px) {

    section.distro-section  {
        width: 90%;
    }

    .distro {
        margin: 1em;
        width:auto;
    }

}

.difficulty {
    font-family:"Inconsolata", "Helvetica", "Arial" , sans-serif;
    margin-top: -0.5em;
    margin-left:1.25em;
    margin-right:1.25em;
    font-size: 0.8; 
    line-height: 1em; 
    text-align: center;
    text-transform: uppercase;
    text-shadow:none;
}

.easy {
    color: #46951d;
}

.medium {
    color: #eb8522;
}

.hard {
    color: #c51e1d;
}