/*----- Share Section -----*/

#share {
    color: #555;
    margin:0;
    width:100%;
    background-color: #fff;
    text-shadow:0px 1px rgba(255,255,255,0.2);
    text-align: center;
}

.share {
    border:none;
    display: inline-block;
    margin: 1em;
    width: 200px;
    padding: 0 1em;
    height: 40px;
    line-height: 40px;
    font-size: 1em;
    font-weight: bold;
    border-radius:20px;
    background-color: #fff;
    text-align: center;
}

.share:hover{
}

.fa {
    padding-right: 0.5em;
}

.tweet,
.tweet:active span {color: #55ACEE;}
.tweet:active {
    background-color: #fff;
    color: #55ACEE
}

.tweet:hover span {color: white;}
.tweet:hover {
    background-color: #55ACEE;
    color: #fff
}

.facebook,
.facebook:active span {color: #3B5998;}
.facebook:active {
    background-color: #fff;
    color: #3B5998
}

.facebook:hover span {color: white;}
.facebook:hover {
    background-color: #3B5998;
    color: #fff
}

.googleplus,
.googleplus:active span {color:#DD4B39;}
.googleplus:active {
    background-color: #fff;
    color:#DD4B39
}

.googleplus:hover span {color: white;}
.googleplus:hover {
    background-color:#DD4B39;
    color: #fff
}