

/*----- Switch Section -----*/

#make-the-switch {
    background-color: #fff;
    text-shadow:0px 1px rgba(255,255,255,0.2);
}

#make-the-switch section {
    text-align: center;
}

.switch {
    width: 60%;
    margin: 0 auto;
    padding: 2em 0;
}
@media only screen and (max-width :1200px) {.switch{width: 80%}}
@media only screen and (max-width :1000px) {.switch{width: 100%}}

#make-the-switch h1 {
    color: #149AD4;
}

#make-the-switch h2 {
    margin: 1em auto;
}

.alternatives {
    margin: 2em auto;
    vertical-align: middle;
}

.pair {
    display: inline-block;
    vertical-align: middle;
}

.alternatives a {
    display: inline-block;
    border:none;
    padding: 0;
}

.alternatives a:hover {
    border:none;
    border-radius: 50%;
    background: rgba(0,139,219,0.3);
    transition:all 200ms;
    -webkit-transition:all 200ms;
}
.alternatives a:active {
    border:none;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    transition:all 200ms;
    -webkit-transition:all 200ms;
}

img.alternative {
    border:none;
    margin: 1em;
    display: inline-block;
    height: 64px;
    width: 64px;
}

.browsers {
    margin: 2em auto;
    vertical-align: middle;
}

img.browser{
    margin: 1em;
    display: inline-block;
    width: 64px;
}