// imports
@import 'common';
@import 'mixins';

section {
	text-align:center;
	width:100%;
	display:inline-block;
	margin: 32px 0;
}

.logos {
	margin: 2em auto;
	vertical-align: middle;

	img {
		display:inline-block;
		height: 64px;
		width: 64px;
		margin: 12px;
		&.arrow {
			vertical-align: middle;
			margin: 12px 0;
			height:48px;
			width:48px;
		}
	}

	a {
		display: inline-block;
		border:none;
		border-radius: 4px;
		padding: 0;

		&:hover {
			background-color: transparentize($fg_color, 0.9);
			transition:all 100ms;
			-webkit-transition:all 100ms;
		}

		&:active {
			background-color: transparentize($link_color, 0.6);
		}
	}
}