// Custom image classes

// icons on pages
span.icon {
	display:block;
	width:100%;
	text-align:center;
	> i {
		font-size:48px;
		color:$brand_color;
	}
	&.large {
		margin: 48px auto;
		>img{display:block;height: 96px;width: 96px;}
		>i{font-size: 96px;}
	}
}


// screenshots on the distro page
img.screenshot {
	margin: 12px auto;
	border-radius: 4px;


	// alt text styling
	background-color: $base_color;
	box-shadow:inset 0 0 0 1px $border_color;
	color:$fg_color;
	font-size:$font_size - 2px;
	line-height: $font_size * 3;
	text-align: center;
	&:after{
		margin-top: -16px;
		display:block;
		font-family: $monospace;
		font-weight: bold;
		font-size:$font_size + 2px;
		line-height: $font_size * 4;
		content: '[ Image Missing ]';
	}

	&:hover {
		cursor: pointer;
		@include transition(100ms);
	}

	&:active {
		@include transition(100ms);
	}
}

.logos {
	margin: 2em auto;
	vertical-align: middle;

	img {
		display:inline-block;
		height: 64px;
		width: 64px;
		margin: 12px;
		&.arrow {
			vertical-align: middle;
			margin: 12px 0;
			height:48px;
			width:48px;
		}

		&.large {
			height: 128px;
			width: 128px;
		}
	}

	a {
		display: inline-block;
		border:none;
		border-radius: 4px;
		padding: 0;

		&:hover {
			background-color: transparentize($fg_color, 0.9);
			transition:all 100ms;
			-webkit-transition:all 100ms;
		}

		&:active {
			background-color: transparentize($link_color, 0.6);
		}
	}
}

@media only screen and (max-width:480px) {
	img.screenshot {
		border-radius:2px;
		border: none;
		box-shadow: none;
		margin: 0 auto;
		width: 100%;
		&:active,
		&:hover{
			border:none;
			box-shadow: none;
		}
	}
}