// Cards

$card_bg_color:$base_color;
$card_fg_color:$fg_color;
$card_corner_radius: 5px;
$card_font_size:24px;
$card_image_size:100px;
$card_height:64px;
$card_width:23%;

// Card container
.cards {
	display: inline-block;
	margin: 12px auto;
	width: 100%;
	text-align:center;

	// Card
	a.card {
		background-color: $card_bg_color;
		border-radius: $card_corner_radius;
		color: $card_fg_color;
		display: inline-block;
		margin: 6px 0.5%;
		padding: calc(#{$card_height} / 2) 0;
		text-align: center;
		text-decoration:none;
		text-shadow:none;
		width:$card_width;
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);

		span {
			margin: 16px 0;
			display:block;
			text-align: center;
			font-size: $card_font_size;
		}

		img {
			margin: 0 auto;
			max-width:$card_image_size;
		}

		&:active,
		&:active:hover{
			box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2),inset 0 0 0 1px rgba(0,0,0,0.15);
		}

		&:focus {
			box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),inset 0 0 0 1px $link_color;
		}

		&:hover {
			box-shadow: 0 1px 2px 0 $link_color,0 0 0 1px $link_color;
		}

		%small-card,
		&.small{
			text-align: left;
			display: inline-block;
			padding: 24px;
			width: calc(33% - 72px);
			float: none;
			margin: 6px;

			> span {
				font-size:$card_font_size - 4px;
				margin:0 6px;
				margin-bottom: 12px;
				vertical-align: middle;
				text-align: left;
				height:$card_image_size * 0.25;
				line-height:$card_image_size * 0.25;
				display:inline-block;
				padding:0;
				width:calc(80% - 12px);
			}

			> img {
				width:calc(20% - 0);
				margin-bottom: 12px;
				display: inline-block;
				max-width:$card_image_size * 0.25;
			}

			> small {
				margin:4px 8px;
				display: block;
				width: calc(100% - 16px);
			}
		}
	}
}

@media only screen and (max-width:900px) {
	.cards {
		a.card,
		a.card.small {
			width: calc(33% - 18px);
			margin: 6px;
		}
	}
}

@media only screen and (max-width:720px) {
	.cards {
		a.card,
		a.card.small {
			display: inline-block;
			padding: 24px;
			width: calc(50% - 72px);
			margin: 6px;
			> img {
				height:$card_image_size * 0.5;
			}
		}
	}
}

@media only screen and (max-width:600px) {
	.cards {
		a.card,
		a.card.small {
			display: block;
			float: none;
			margin: 12px;
			padding: 0;
			text-align:left;
			width: calc(100% - 24px);

			img {
				margin: 16px;
				height: $card_image_size;
				display: inline-block;
			}

			.card-text {
				margin: 12px 0;
				padding: 12px 0;
				overflow: hidden;
				text-align:left;
				display:inline-block;
				> span {
					font-size:$card_font_size - 4px;
					margin:0;
					margin-bottom:4px;
					vertical-align: middle;
					text-align: left;
					height:$card_image_size * 0.25;
					line-height:$card_image_size * 0.25;
					display:inline-block;
					padding:0;
				}
			}
		}
	}
}


@media only screen and (max-width:340px) {

	.cards {
		a.card,
		a.card.small {
			display: inline-block;
			padding: 6px;
			width: calc(100% - 24px);
			margin: 6px;
			> img {
				display:block;
				margin: 0 auto;
				margin-top: 12px;
				height:$card_image_size * 0.5;
			}
			.card-text {
				margin: 12px 0;
				padding: 12px 0;
				width: 100%;
				text-align:center;
			}
		}
	}
}
