// Custom image classes

// icons on pages
span.icon {
	display:block;
	width:100%;
	text-align:center;
	> i {
		font-size:48px;
		color:$brand_color;
	}
	&.large {
		margin: 48px auto;
		>i{font-size: 96px;}
	}
}


// screenshots on the distro page
img.screenshot {
	margin: 12px auto;
	border-radius: 4px;

	&:hover {
		cursor: pointer;
		@include transition(100ms);
	}

	&:active {
		@include transition(100ms);
	}
}

@media only screen and (max-width:480px) {
	img.screenshot {
		border-radius:2px;
		border: none;
		box-shadow: none;
		margin: 0 auto;
		width: 100%;
		&:active,
		&:hover{
			border:none;
			box-shadow: none;
		}
	}
}