// Custom image classes

// icons on pages
span.icon {
	display:block;
	width:100%;
	text-align:center;
	margin: 48px auto;
	> i {
		font-size:48px;
		color:$brand_color;
	}
	&.large {
		>i{font-size: 96px;}
	}
}


// screenshots on the distro page
img.screenshot {
	margin: 12px auto;
	max-width: $row_width - 48px;
	border-radius: 4px;

	&:hover {
		cursor: pointer;
		@include transition(100ms);
	}

	&:active {
		@include transition(100ms);
	}
}

// logo on the distro page
$logo_size:50px;

img.logo {
	width: $logo_size;
	height: $logo_size;
	max-width: $logo_size;
	margin: 2em 0;
	display: inline-block;
	margin-left: 0.125em;
	margin-right: 1em;
}



@media only screen and (max-width:480px) {
	img.screenshot {
		border-radius:2px;
		border: none;
		box-shadow: none;
		margin: 0 auto;
		width: 100%;
		&:active,
		&:hover{
			border:none;
			box-shadow: none;
		}
	}
}