// Notes

$notes_bg_color: #fff;
$notes_accent_color: $brand_color;
$notes_width: $row_width - 300px;

// Overall table style
table.notes {
	@extend %reset;
	width:100%;

	// text styles
	> tbody {
		background-color: $notes_bg_color;
		border-radius: 0 6px 6px 0;
		border:1px solid rgba(0,0,0,0.08);
		border-left-width: 0;
		box-shadow: -5px 0 0 0 $notes_accent_color, inset 0 1px 0 0 rgba(255,255,255,0.4),0 1px 2px 0 rgba(0,0,0,0.05);
		display: inline-block;
		font-family: $monospace;
		font-size: $font-size - 2px;
		margin: 16px 0;
		max-width: $notes_width;
		padding: 0;
		padding-bottom: 2px;

		// notes title
		&:before {
			color: lighten($fg_color, 10%);
			display: inline-block;
			font-weight: bold;
			margin: 7px 12px;
		}

		> tr {
			background-color: transparent;
			border-bottom: 1px dashed darken($notes_bg_color, 10%);

			&:first-child {border-top:1px dashed darken($notes_bg_color, 10%);}
			&:last-child {border:none;}

			> td {
				border: none;
				padding: 6px 0 4px 0;
				vertical-align: top;

				> a {
					font-family: inherit;
				}

				&:nth-child(odd) {
					width: calc((#{$notes_width} * 0.40) - (24px));
					color: lighten($fg_color, 20%);
					text-align: right;
					padding-left: 24px;

					// add a separator
					&:after {content: ":"}
				}

				&:nth-child(even) {
					width: calc((#{$notes_width} * 0.60) - (12px + 8px));
					padding-right: 12px;
					padding-left: 8px;
				}
			}
		}
	}
}


@media only screen and (max-width:600px) {
	table.notes {
		> tbody {
			> tr > td {
				> a {word-break: break-all;}// to break long urls
			}
		}
	}
}