// Rows
.row {
	display:table;
	position:relative;
	margin:0 auto;
	width:$row_width;
	&.narrow {
		width:$row_width - 150px;
	}
	&.wide {
		width:$row_width + 200px;
	}
}

@media only screen and (max-width:$row_width + 24px) {
	.row {
		width:calc(100% - 32px);
		margin:0 16px;
		&.wide,
		&.narrow {
			width:inherit;
		}
	}
}
@media only screen and (max-width:$row_width + 200px + 24px) {
	.row.wide {
		width:calc(100% - 32px);
		margin:0 16px;
	}
}