// Custom Text Classes

// Footnote 
.footnote {
	color:lighten($fg_color, 30%);
	display:block;
	font-family:$monospace;
	font-size:$font_size * 0.8;
	margin:24px auto;
	width:100%;
	* {
		color: inherit;
		font: inherit;
	}
	a {color:$link_color;}
}

// article title
article {
	.title {
		display: inline-block;
		width: auto;
	}
}

// Card text
.read-more {
	margin: 6px 0;
	color:$link_color;
}

small.difficulty {
	margin: 6px 0;
	text-transform:uppercase;
	font-family:$monospace;
	color:inherit;
	display:block;
	width: 100%;
	&.beginner { color:$green_color;}
	&.intermediate { color:$orange_color}
	&.advanced { color:$red_color}
}

// Published
.published {
	color:lighten($fg_color, 30%);
	display:block;
	font-family:$monospace;
	margin:16px auto;
	opacity:0.8;
	text-transform:uppercase;
	width:100%;

	.date {
		color:darken($fg_color, 20%);
	}
	.author {
		color:darken($fg_color, 20%);
	}

	.version {
		color:$link_color;
	}
}

// monospace
.monospace {
	font-family: $monospace;
}

pre > span.comment {
	opacity: 0.5;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
}