// Footer
$footer_height: 144px;
$footer_fg_color: lighten($fg_color, 10%);
$footer_bg_color: darken($base_color, 5%);

$footer_padding: 24px;

// wrapper
.wrapper {
	min-height: 100%;
	margin-bottom: calc((#{$footer_height} + #{$footer_padding} + 56px) * -1);
}

.push {
	height: calc(#{$footer_height} + #{$footer_padding} + 56px);
}

// footer
footer {
	min-height: $footer_height + $footer_padding;
	background-color:$footer_bg_color;
	border-top: 1px solid $border_color;
	display:inline-block;
	font-size: $font_size - 2px;
	padding-top: $footer_padding;
	width:100%;

	* {
		font-size: inherit;
		font-family: inherit;
	}

	span {
		line-height:$font_size + 24px;
		color:$footer_fg_color;
		display: block;
		b {
			color: inherit;
		}
	}

	a {}

	ul {
		text-align: center;
		font-size: inherit;
		font-family: $monospace;
		margin: 24px auto;

		> li {
			display:inline-block;
			padding: 6px;
			&::before {
				content: "";
			}
		}

	}
}

// MEDIA QUERIES
@media only screen and (max-width:848px) {

	footer {
		span {
			line-height:$font_size + 12px;
			margin: 12px 0;
		}
	}
}