// Header
$header_bg_color: $brand_color;
$header_fg_color: $base_color;
$header_title_font_size: 40px;
$header_subtitle_font_size: 16px;


// Header
header {
	background-color: $header_bg_color;
	padding:32px 0;

	a, span {
		display: inline-block;
		color: $header_fg_color;
		vertical-align:middle;
		white-space: wrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-shadow: 0 -1px darken($header_bg_color, 10%);
		> * {
			color:inherit;
		}
	}

	span {
		width:100%;
		&.title {
			font-size: $header_title_font_size;
			line-height: $header_title_font_size * 2;
		}

		&.subtitle {
			font-size: $header_subtitle_font_size;
			width: 100%;
			margin: 6px 0;
			display: inline-block;
			> a {
				font-size: inherit;
			}
		}
	}
}

@media only screen and (max-width:600px) {
	header {
		span {
			&.title {
				font-size: $header_title_font_size - 6px;
				line-height: $header_title_font_size + 12px;
				margin-bottom: 12px;
			}

			&.subtitle {
				font-size: $header_subtitle_font_size - 2px;
			}
		}
	}
}