<!-- end of .wrapper -->
<div class="push"></div></div>
<!-- Footer -->
<footer>
	<div class="row">
		<span><b>Compute Freely</b> – a friendly place to start for the Free &amp; Open Source Software and GNU/Linux curious.</span>
		<span>&copy; {{ 'now' | date: "%Y" }} <a href="{{ site.author.url }}">{{ site.author.name }}</a>. Some rights reserved. All logos and trademarks are property of their respective owners. </span>
		<span>This site has been in no way endorsed by any of the featured projects.</span>
		<ul>
			<li><a href="/about">About</a></li>
			<li><a href="/privacy">Privacy</a></li>
			<li><a href="/terms">Terms</a></li>
			<li><a href="{{ site.github.repo }}" target="_blank">Source Code</a></li>
			<li><a href="{{ site.github.issues }}" target="_blank">Site Issues</a></li>
		</ul>
	</div>
</footer>
</body>
</html>