---
layout: page
---

<!-- categories -->
<section>
	<div class="cards">
	{% for post in site.posts %}{% for category in post.categories %}{% if category == page.category %}
		<a href="{{ post.url }}" class="card small">
			<img src="{{ site.logos_dir }}/{{ post.logo }}.svg">
			<div class="card-text">
				<span>{{ post.title }}</span>
				<small class="difficulty {{ post.category }}">{{ post.category }}</small>
				<small class="read-more">Read more »</small>
			</div>
		</a>
	</a>{% endif %}{% endfor %}{% endfor %}
	</div>
</section>