---
layout: minimal
---

<!-- Header -->
<header>
	<div class="row">
		<span class="title">{% if page.title %}Compute Freely: {{ page.title }}{% else %}{{ site.title }}{% endif %}</span>
		{% if page.subtitle %}<span class="subtitle">{{ page.subtitle }}</span>{% else %}{% endif %}
	</div>
</header>

<!-- Nav -->
<nav>
	<div class="row">
		<a href="/">Home</a>
		<span class="chevron">&rsaquo;</span>
		<span class="title">{{ page.title }}</span>
	</div>
</nav>

<!-- Row -->
<div class="row">
	<!-- Distro -->
	<article>
		{% if page.image %}
			<!-- Screenshot -->
			<img class="screenshot" src="/images/screenshots/{{ page.image }}" onclick="openModal();">
			{% if page.caption%}<p class="footnote right">{{ page.caption }}</p>{% else %}{% endif %}
			<div id="screenshotDialog" class="modal" onclick="closeModal()">
				<span class="modal-close" onclick="closeModal()">&times;</span>
				<div class="modal-content">
					<img src="/images/screenshots/{{ page.image }}" width="100%">
				</div>
			</div>
			<!-- Dialog -->
			<script type="text/javascript">
				function openModal() {document.getElementById('screenshotDialog').style.display = "block";}
				function closeModal() {document.getElementById('screenshotDialog').style.display = "none";}
			</script>
		{% else %}{% endif %}
		<!-- Title -->
		<img class="logo" src="/images/logos/{{ page.logo }}.svg"><h2 class="title">{{ page.title }}</h2>
		<!-- Published -->
		<small class="published">Last updated <span class="date">{{ page.date | date_to_string }}</span></small>
		<!-- Tags -->
		<ul class="tags">
		{% for tag in page.tags %}
			<li><a href="/tag/{{ tag }}">{{ tag | downcase }}</a></li>
		{% endfor %}
		</ul>
		{% if page.notes %}
		<!-- Notes -->
		<table class="notes">
			<tbody>
				<!-- Homepage -->
				{% if page.notes.homepage %}<tr>
					<td>Homepage</td>
					<td><a href="{{ page.notes.homepage }}" target="_blank">{{ page.notes.homepage | remove: "http:" | remove: "https:" | remove: "/"}}</a></td>
				</tr>{% else %}{% endif %}
				<!-- Version -->
				{% if page.notes.version %}<tr>
					<td>Latest Version</td>
					<td>{{ page.notes.version }}</td>
				</tr>{% else %}{% endif %}
				<!-- Desktop -->
				{% if page.notes.desktops %}<tr>
					<td>Desktop Environment(s)</td>
					<td>{% for desktop in page.notes.desktops %}<a href="/tag/{{ desktop | downcase }}">{{ desktop }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</td>
				</tr>{% else %}{% endif %}
				<!-- Installation Type -->
				{% if page.notes.install %}<tr>
					<td>Installation type</td>
					<td>{{ page.notes.install | capitalize }}</td>
				</tr>{% else %}{% endif %}
				<!-- Based On -->
				{% if page.notes.based-on %}<tr>
					<td>Based On</td>
					<td>{% for distro in page.notes.based-on %}<a href="/{{ distro | downcase | replace: " ","-" }}">{{ distro | capitalize}}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</td>
				</tr>{% else %}{% endif %}
				<!-- Developer -->
				{% if page.notes.developers %}<tr>
					<td>Developer(s)</td>
					<td>{% for developer in page.notes.developers %}{% if developer.url %}<a href="{{ developer.url }}" target="_blank">{{ developer.name }}</a>{% if forloop.last %}{% else %}, {% endif %}{% else %}{{ developer.name }}{% if forloop.last %}{% else %}, {% endif %}{% endif %}{% endfor %}</td>
				</tr>{% else %}{% endif %}
			</tbody>
		</table>
		{% else %}{% endif %}
		<!-- Content -->
		{{ content }}
	</article>
</div>

