---
layout: page
---

<!-- tagged posts -->
<section class="cards">
{% for post in site.posts %}{% for tag in post.tags %}{% if tag == page.tag %}
	<a href="{{ post.url }}" class="card small">
		<img src="{{ site.dirs.logos }}{{ post.logo }}.svg">
		<div class="card-text">
			<span>{{ post.title }}</span>
			<small class="category {{ post.category }}">{{ post.category }}</small>
			<small class="read-more">Read more »</small>
		</div>
	</a>
{% endif %}{% endfor %}{% endfor %}
<p><a class="button center" href="{{ site.dirs.tags }}">View all tags</a></p>
</section>